.stats{
display:flex;
gap:22px;
flex-wrap:wrap;
margin-top:50px;
}

.stat-card{

width:170px;

padding:22px;

border-radius:20px;

background:rgba(255,255,255,.05);

border:1px solid rgba(255,255,255,.08);

backdrop-filter:blur(20px);

transition:.35s;

box-shadow:0 10px 30px rgba(0,0,0,.25);

}

.stat-card:hover{

border-color:#F8B84E;

box-shadow:0 20px 50px rgba(248,184,78,.22);

}

.stat-icon{

width:52px;

height:52px;

border-radius:14px;

display:flex;

justify-content:center;

align-items:center;

font-size:22px;

background:linear-gradient(135deg,#F8B84E,#EC8A1C);

color:#07111f;

margin-bottom:16px;

}

.stat-card h2{

font-size:34px;

margin:0;

font-weight:700;

color:white;

}

.stat-card p{

margin-top:8px;

color:#9aa7be;

font-size:15px;

}